:root {
    --grey:     rgb(99, 99, 99);
    --greyl:    rgb(50, 50, 50);
    --greyd:    rgb(70,70,70);
    --text:     rgb(201, 201, 201);
    --accent:   cadetblue;
    --accent2:  rgb(104, 120, 170);
    --accent3:  rgb(75, 88, 126);
    --back:     rgb(26, 26, 30);
    --body:     rgb(16, 18, 24);

    --birds:    invert(100%);
    --icon:     brightness(90%);
    --audio:    invert(1);
}


div.birds {
    opacity: 0.7;
    background-image:		
        url('assets/birdsSD2/three.png'), 
        url('assets/birdsSD2/yellow.png'),
        url('assets/birdsSD2/leaning.png'),
        url('assets/birdsSD2/sir.png'),
        url('assets/birdsSD2/fancy2.png'),
        url('assets/birdsSD2/east.png') !important;
    }

audio {
    opacity: 0.7;
}

#footer {
    opacity: 1;
}

#reload {
    filter: invert(1);
}