:root {
    --grey:     rgb(150,150,150);
    --greyl:    rgb(210,210,210);
    --greyd:    rgb(70,70,70);
    --text:     rgb(70,70,70);
    --accent:   cadetblue;
    --accent2:  cadetblue;
    --accent3:  cadetblue;
    --back:     white;
    --body:     white;

    --birds:    invert(0%) saturate(110%);
    --icon:     brightness(100%);
    --audio:    invert(0);
}

#reloadWrapper, #goHomeWrapper {
    filter: brightness(1.1);
}

#reloadWrapper:hover, #goHomeWrapper:hover {
    filter: brightness(0.5);
}

#reload img, #goHome img {
    opacity: 0.9;
    filter: invert(1);
}

#goHome img {
    filter: saturate(0%) brightness(500%);
}