:root {
    --grey:     rgb(150,150,150);
    --greyl:    rgb(210,210,210);
    --greyd:    rgb(70,70,70);
    --text:     rgb(70,70,70);
    --accent:   cadetblue;
    --accent2:  cadetblue;
    --accent3:  cadetblue;
    --back:     white;
    --body:     white;

    --birds:    invert(0%) saturate(110%);
    --icon:     brightness(100%);
    --audio:    invert(0);

    --backd:    rgb(0,0,0);
    --birdsd:   invert(100%);
    --icond:    brightness(75%);
}