:root {
    --grey:     rgb(150,150,150);
}

@font-face {
    font-family: 'Hello';
    src: url('cmunrm.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fields */

body {
    margin: 0px;
}

.content {
    position: relative;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    line-height: 1.5;
    color: rgb(70,70,70);
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

div#home {
    position: absolute;
    width: 540px;
    left: 50%;
    margin-left: -300px;
    height: 600px;
    top: 50%;
    margin-top: -350px;
    padding: 30px;

    background-color: white;
    border: 3px solid cadetblue;
    border-radius: 30px;

    line-height: 1.5;
    color: rgb(70,70,70);
    font-family:Arial, Helvetica, sans-serif;
}

#banner {
    text-align: center;
    font-size: 20px;
    margin-bottom: 75px;
}

/* HTML elements */

h1 {
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:100;
    margin-top: 50px;
    margin-bottom: 0px;
    border-bottom: 2px dotted var(--grey);
}

h2 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

hr {
    margin-top: 50px;
    width: 600px;
    border: 1px dashed grey;
}

a, a:hover, a:visited {
    color:cadetblue;
}

audio {
    width: 100%;
    padding: 20px 0px 20px 0px;
}

/* Special classes */

/* Banner */
#home .icon {
    margin-top: 0px;
}
.icon {
    margin-top: 60px;
}

h1.title {
    color: cadetblue;
    font-size: 50px;
    margin-top: 25px;
    font-weight: 600;
    border-bottom: 0px solid var(--grey);
}

#banner a {
    text-decoration: none;
}
#banner a:hover {
    text-decoration: underline;
}

#alert p:before {
    content: "!";
    font-size: 18px;
    color: white;
    background-color: cadetblue;
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-weight: bold;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 540px;
    text-align: center;
}

#home h1 {
    font-size: 26px;
}

#home h1.title {
    font-size: 36px;
}

/* LIBRARY */

#birds img {
    width: 49% !important;
}
table img {
    width: 100%;
}
table td {
    padding: 15px;
    font-family: sans-serif;
    font-style: italic;
    color: grey;
}


/* Cinema */

.player .vp-controls-wrapper .vp-title {
    visibility: hidden !important;
}

.cinema {
    padding: 20px;
    background-color: black;
    padding-bottom: 40px;
}

.cinema h1 {
    font-size: 50px;
    color: white;
}

.cinema h2, h3 {
    color: rgb(99, 181, 184);
    font-family: sans-serif;
}

.notes, .notes a {
    color: var(--grey);
    opacity: 0.5;
}

/*Wallpaper*/

div.birds {
    filter: blur(100%);
    position: fixed;
    height: 100%;
    /* max-height: 600px; */
    width: 100%;
    background-image:		
        url('assets/butt.png'), 
        url('assets/esh.png'),
        url('assets/stopper.png'),
        url('assets/fancy.png'),
        url('assets/fancy.png'),
        url('assets/upchucker.png');
    background-repeat: repeat-x;
    background-position: 
        0 13%,
        0 65%,
        0 1%,
        0 37%,
        0 87%,
        0 100%;
    background-size: 
        400px,
        350px,
        250px,
        300px,
        300px,
        200px;
    animation: 30s para infinite linear;
    }
@keyframes para {
    100% {
        background-position: 
            3500px 13%,
            2000px 65%,
            500px 1%,
            800px 37%,
            800px 87%,
            800px 100%;
        }
    }