:root {
    --grey:     rgb(150,150,150);
}

@font-face {
    font-family: 'Hello';
    src: url('cmunrm.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Fields */

body {
    margin: 0px;
}

.content {
    position: relative;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    line-height: 1.5;
    color: rgb(70,70,70);
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

#banner {
    text-align: center;
    font-size: 24px;
    margin-bottom: 75px;
}

/* HTML elements */

body {
    background-color: white;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight:100;
    margin-top: 50px;
    margin-bottom: 0px;
    border-bottom: 2px dotted var(--grey);
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

hr {
    margin-top: 50px;
    width: 600px;
    border: 1px dashed grey;
}

a, a:hover, a:visited {
    color:cadetblue;
}

audio {
    width: 100%;
    padding: 20px 0px 20px 0px;
}

/* Special classes */

/* OG banner */
.icon {
    margin-top: 60px;
}

h1.title {
    color: cadetblue;
    font-size: 50px;
    margin-top: 25px;
    font-weight: 600;
    border-bottom: 0px solid var(--grey);
}

#banner a {
    text-decoration: none;
}
#banner a:hover {
    text-decoration: underline;
}

#alert p:before {
    content: "!";
    font-size: 18px;
    color: white;
    background-color: cadetblue;
    border-radius: 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    font-weight: bold;
}

#footer {
    position: fixed;
    bottom: 0px; 
    width: 700px;
    padding: 2px;
    background-color: white;
    text-align: center;
    font-size: 15px;
    color: var(--grey);
    z-index: -2;
}
#footer a {
    color: var(--grey);
}

.spacing {
    margin-left: 20px;
    margin-right: 20px;
}

#songw {
    position: relative;
    top: -140px;
    margin-bottom: -210px;
}

#song {
    opacity: 0;
    width: 200px;
}

#song:hover {
    opacity: 1;
}

.illustration {
    padding-bottom: 40px;
    text-align: center;
}

/* Vault */


/* Vimeo */

.player .vp-controls-wrapper .vp-title {
    visibility: hidden !important;
}

.cinema {
    padding: 20px;
    background-color: black;
    padding-bottom: 40px;
}

.cinema h1 {
    font-size: 50px;
    color: white;
}

.cinema h2, h3 {
    color: rgb(99, 181, 184);
    font-family: sans-serif;
}

#birds img {
    width: 49% !important;
}